body{
    background: #E2E2E2;
}
.Brand-logo{
    width: 120px;
    margin-top: -10px;

}
.navbar{
    background-color: white;
    margin-bottom: 0;

}
.navbar-right{
    font-weight: 500;
    font-size: medium;
}
.input-group-addon{
    background-color: white;
    border-right: 0;
}
.search input{
    border-left: 0;
}
a,a:hover,a:visited{
    color:gray;
}
.row-node{
    padding-left: 0;
    padding-right: 0;
}
.row{

    margin-top: 0;
    padding-top:20px;
}
.classify{
    background: #F5F5F5;
}
.cut,.WIND-detail{
    color:Gainsboro;
}
.author{
    font-weight: bolder;
}
.article-detail{
    font-size: smaller;
}
.nav-pills{
    font-size: small;
}
.row-right{
    padding-left: 20px;
}
.gray{
    color:#9D9D9D;
}
.row-footer{
    background: white;
}
.register{
    padding-left: 60px;
    padding-right: 60px;
}
.float{
    display: inline-block;
    float: right;
}
.LightGrey{
    background: #D4D4D4;
}
.reply{
    width: 100%;
    overflow:auto;
}